# Packages
node_modules

# Output
coverage
dist
docs

# Parcel
.parcel-cache

# Misc
.npm
npm-debug.log
package-lock.json
yarn-error.log
.DS_Store
.env
.cache

# Cypress
tests/cypress/screenshots/*
tests/cypress/videos/*