{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "eslint-plugin-tsdoc"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "tsdoc/syntax": "warn"
  },
  "overrides": [
    {
      "files": ["src/index.ts"],
      "rules": {
        "tsdoc/syntax": "off"
      }
    }
  ],
  "env": {
    "jest": true
  }
}
