@import '../../../styles';

.modal-component {
  &__overlay {
    background: $black;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    width: 100%;
    z-index: 100;

    &.isOpen {
      opacity: 0.6;
      visibility: visible;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    max-width: 598px;
    opacity: 0;
    top: 50%;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transform: translate(-50%, -50.1%);
    width: 100%;
    visibility: hidden;
    z-index: 101;

    &.isOpen {
      opacity: 1;
      visibility: visible;
    }
  }

  &__close-button {
    align-items: center;
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 24px;
    margin: 0 0 16px 0;
    width: 24px;

    svg,
    path {
      fill: $white;
      transition: fill 0.2s ease;
    }

    &:hover {
      svg,
      path {
        fill: $fontColor;
      }
    }
  }

  &__modal-header {
    background: $primaryColor;
    border-radius: 0.5em 0.5em 0 0;
    text-align: center;

    h3 {
      color: $white;
      padding: 1em 0;
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

  &__modal-content {
    align-content: space-around;
    align-items: center;
    background: $white;
    border-radius: 0px 0px 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    line-height: 20.7px;
    max-height: 660px;
    overflow-y: auto;
    padding: 2em;

    @media (max-height: 700px) {
      max-height: 450px;
    }
  }
}
