@import '../../../../../styles/';

.main-header {
  &__container {
    align-items: center;
    background-color: $secondaryColor;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    left: 0;
    padding: 0.5rem 1rem;
    position: sticky;
    right: 0;
    top: -1px;
    width: 100%;
    z-index: 10;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80vw;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    z-index: 2;

    @include forMedium() {
      max-width: 100vw;
    }
  }

  &__logo-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 15.75em;
    width: 100%;
  }

  &__logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 0.5em;

    > div {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > h3 {
        color: $primaryColor;
        font-size: 1.5em;
        font-weight: 100;
        line-height: 2em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      > h4 {
        color: $fontColor;
        font-size: 0.875em;
        font-weight: 300;
        line-height: 1.25em;
      }
    }
  }

  &__open-btn {
    display: none;
    @include forSmall() {
      align-items: center;
      background: none;
      border: 1px solid $supportDark;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      padding: 0.3rem;
      transition: border 0.2s ease-in;

      > svg {
        fill: $white;
        height: 20px;
        width: 20px;
      }

      &:hover {
        border-color: $primaryColor;
      }
    }
  }

  &__nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    max-width: 42em;

    > a {
      color: $white;
      cursor: pointer;
      font-size: 1.25rem;
      text-transform: uppercase;
      transition: color 0.2s ease-in;

      &::before {
        background-color: $primaryColor;
        content: '';
        display: block;
        height: 3px;
        margin-bottom: 0.25em;
        transform: scaleX(0);
        transition: transform 0.2s ease-in;
        width: 100%;
      }

      &:hover {
        color: $backgroundColor;

        &::before {
          transform: scaleX(1);
        }
      }
    }
  }

  @include forSmall() {
    &__content {
      flex-direction: column;
      max-width: 80vw;
    }

    &__logo-wrapper {
      max-width: unset;
    }

    &__nav-bar {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      height: 10em;
      overflow: hidden;
      transition: height 0.35s ease;

      > a {
        font-size: 1em;
      }

      &.collapsed {
        height: 0;
      }
    }
  }

  @include forXSmall() {
    &__content {
      max-width: 100vw;
    }
  }
}
