@import '../../../styles';

.exercises-add-page {
  &__container {
    padding: 2em 3em;

    > form {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2em;
      justify-content: center;
      width: 100%;

      .default-card-box__container {
        width: 100%;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1.75em;
    max-height: 550px;
    overflow: auto;
    padding: 1em 0;
    width: 100%;
  }

  &__submit-button {
    max-width: 20em;
  }
}
