@import '../../../../../styles';

.exercises-sheet {
  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: flex-start;
    margin-right: 0.5em;
    padding: 1em 0.5em;
    width: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    height: 3.25em;
    justify-content: space-between;
    width: 100%;

    > div {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 0.5em;

      > h3 {
        color: $secondaryColor;
        font-size: 1.375em;
        line-height: 1.375em;
      }

      > span {
        color: $secondaryColor;
        font-size: 1.25em;
        line-height: 1.25em;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    max-height: 606px;
    overflow: auto;
    padding: 1.75em 5em;
    width: 100%;
  }

  &__add-card {
    align-items: center;
    background-color: $white;
    border: 0.5px dashed $primaryColor;
    border-radius: 8px;
    color: $primaryColor;
    display: flex;
    font-size: 1.25em;
    font-weight: bold;
    height: 162px;
    justify-content: center;
    line-height: 1.5em;
    transition: filter 0.3s ease, color 0.3s ease;

    &:hover {
      filter: brightness(0.98);
    }
  }
}
